# Build results
[Bb]uild/
[Oo]ut/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# SPIRV compiled shader files
shaders/**/*.spv

# Install directory
[Ii]nstall/

# Temporary files
[Tt]emp/
[Tt]mp/

# IDE specific files
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/
